* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --Dark-Blue: #262e38;
  --Very-Dark-Blue: #131518;
  --black-gradient: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  --Orange: #fc7614;
  --Pure-WHite: #fff;
  --Light_Gray: #969fad;
  --Medium-Gray: #7c8798;
}

body {
  font-size: 14px;
  font-family: "Overpass", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Very-Dark-Blue);
  padding: 0 24px;
}

/* default rating card styles */
.rating-card {
  display: none;
  width: 100%;
  min-width: 327px;
  max-width: 412px;
  height: 100%;
  min-height: 360px;
  max-height: 416px;
  background: var(--black-gradient);
  border-radius: 30px;
  padding: 32px;
}

.rating-card.active {
  display: block;
}

.rating-card .heading,
.rating-card .description,
.rating-card .rating {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rating-card .heading {
  height: 20%;
}

.rating-card .heading .icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Dark-Blue);
  border-radius: 50%;
}

.rating-card .heading .icon img {
  width: 16px;
  height: 16px;
}

.rating-card .description {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3% 0;
}

.rating-card .description h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--Pure-WHite);
}

.rating-card .description p {
  color: var(--Light_Gray);
  line-height: 22px;
  width: 90%;
}

.rating-card .rating {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rating-card .rating .options {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-card .rating .options .option {
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Blue);
  color: var(--Medium-Gray);
  font-size: 16px;
  font-weight: 700;
  border-radius: 50%;
  transition: all 0.35s ease-in-out;
}

.rating-card .rating .options .option.active {
  background-color: var(--Orange);
  color: var(--Pure-WHite);
}

.rating-card .rating .options .option:hover {
  cursor: pointer;
  background-color: var(--Orange);
  color: var(--Pure-WHite);
}

.rating-card .rating button {
  height: 45px;
  border-radius: 22.5px;
  border: none;
  background-color: var(--Orange);
  font-size: 15px;
  font-weight: 700;
  color: var(--Pure-WHite);
  letter-spacing: 2px;
  transition: all 0.35s ease-in-out;
}

.rating-card .rating button:hover {
  cursor: pointer;
  background-color: var(--Pure-WHite);
  color: var(--Orange);
}

/* thank you card styles */
.thank-you-card {
  display: none;
  width: 100%;
  min-width: 327px;
  max-width: 412px;
  height: 100%;
  min-height: 360px;
  max-height: 416px;
  background: var(--black-gradient);
  border-radius: 30px;
  padding: 55px 42px;
}

.thank-you-card.active {
  display: block;
}

.thank-you-card .heading {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.thank-you-card .heading .illustration {
  height: 70%;
}

.thank-you-card .heading .selection-container {
  height: 30%;
  display: flex;
  align-items: center;
}

.thank-you-card .heading .selection-container .selection {
  width: 193px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Blue);
  font-size: 15px;
  border-radius: 22.5px;
  color: var(--Orange);
}

.thank-you-card .heading .selection-container .selection span {
  display: inline-block;
  margin: 0 3px;
}

.thank-you-card .thank-you {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.thank-you-card .thank-you h2 {
  font-size: 28px;
  font-weight: 700;
  color: var(--Pure-WHite);
}

.thank-you-card .thank-you p {
  margin-top: 7px;
  padding: 0 2%;
  font: 15px;
  line-height: 24px;
  color: var(--Light_Gray);
  text-align: center;
}
